* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

h1{
    text-align: center;
    padding: 30px;
    color: #e53170;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container p{
    text-align: center;
    color: rgb(39, 39, 39);
    margin-bottom: 40px;
}

.box{
    width: calc(100% / 3);
    background-color: #0f0e17;
    float:left;
}

img{
    width: 30%;
}

.box h3{
    color: white;
}